<div class="container mt-4">
    <header class="bg-dark text-white p-2 mb-2 text-center">
        <h1>Register</h1>
    </header>

    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <div class="form-group">
            <label for="name">Enter name</label>
            <input type="text" placeholder="Enter name" name="name" class="form-control" formControlName="name">

            <div style="color: red;" *ngIf="name && name.invalid && name.touched">This field is required</div>
        </div>

        <div class="form-group">
            <label for="email">Enter email</label>
            <input type="text" placeholder="Enter email" name="email" class="form-control" formControlName="email">

            <div style="color: red;" *ngIf="email && email.invalid && email.touched">This field is required and it must be in email format</div>
        </div>

        <div class="form-group">
            <label for="password">Enter password</label>
            <input type="password" placeholder="Enter password" name="password" class="form-control" formControlName="password">

            <div style="color: red;" *ngIf="password && password.invalid && password.touched">This field is required and it must be at least 5 characters long</div>
        </div>

        <button type="reset" class="btn btn-warning mt-4">Reset</button>
        <button type="submit" class="btn btn-primary mt-4" [disabled]="registerForm.invalid">Register</button>
    </form>


</div>
